:root {
  --themeColor: #4bffa5;
  --text_Color: #858585;
  --border_color: rgba(255, 255, 255, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  scrollbar-width: 10px;
  overflow: hidden;
  /* border: 2px solid red; */
}

.comp {
  position: absolute;
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#comp1 {
  background-color: rgb(29, 27, 26);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#comp2 {
  background-color: transparent;
  /* z-index: 3; */
}

#comp3 {
  background-color: rgba(135, 23, 23, 0);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  border-right: 1px solid var(--border_color);
  background-color: #101010;
}

.navBar {
  height: 30px;
  margin-top: 30px;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  align-items: center;
  overflow: hidden;
  padding: 0 7%;
  position: fixed;
  width: 100vw;
  /* position: relative; */
  background-color: transparent;
}
.logo {
  /* transform: translateY(30px); */
  transition: all ease-out 0.5s;
  gap: 1.05rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.logo:hover {
  /* color: aqua; */
  transform: translateY(-35px);
  cursor: pointer;
}
.logo h2 {
  color: #858585;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 900;
}
.logo h2 span {
  color: #ffffff;
}

.navList {
  display: flex;
  justify-content: space-evenly;
}
.navItems {
  transform: translateY(-6px);
  overflow: hidden;
  transition: all ease-out 0.3s;
  font-family: Helvetica, sans-serif;
  color: #858585;
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
.navItems:hover {
  transform: translateY(-30px);
  cursor: pointer;
}

/* NAVBAR STYLING ENDS HERE  */

/* HERO PART STYLING STARTS HERE  */
.HeroPart {
  display: flex;
  color: #ffffff;
  align-items: flex-end;
  z-index: 1;
}

.HeroPhoto {
  width: 45vw;
  height: 70vh;
  position: relative;
  object-fit: cover;
  top: 0;
  left: 3vw;
  /* z-index: 3; */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin-top: 3.5rem;
  margin-left: 3.5rem;
}

.paralelogram {
  background: url(assets/hero1.png) no-repeat center center;
  position: absolute;
  /* clip-path:polygon(31% 0, 100% 25%, 61% 100%, 0 93%); */
  /* clip-path: polygon(15% 1%, 100% 25%, 61% 100%, 0 77%); */
  /* clip-path: polygon(39% 8%, 100% 25%, 54% 86%, 0 63%); */
  /* clip-path: polygon(26% 11%, 100% 25%, 55% 83%, 0 63%); */
  /* clip-path: polygon(32% 4%, 100% 14%, 59% 79%, 0 63%); */
  /* clip-path: polygon(32% 4%, 100% 17%, 98% 82%, 19% 67%); */
  /* clip-path: polygon(32% 4%, 100% 17%, 100% 63%, 20% 72%); */
  /* clip-path: polygon(32% 4%, 100% 17%, 100% 63%, 20% 72%); */
  /* clip-path: polygon(32% 4%, 96% 12%, 98% 84%, 19% 100%); */
  /* clip-path: polygon(26% 11%, 90% 13%, 89% 85%, 19% 100%); */
  /* clip-path: polygon(26% 11%, 100% 6%, 91% 80%, 12% 86%); */
  /* clip-path: polygon(26% 11%, 100% 6%, 92% 82%, 8% 100%); */
  /* clip-path: polygon(29% 10%, 100% 31%, 80% 95%, 0 91%); */
  /* clip-path: polygon(29% 10%, 100% 31%, 94% 100%, 0 90%); */
  /* clip-path: polygon(29% 10%, 100% 31%, 94% 100%, 9% 94%); */
  clip-path: polygon(31% 0, 100% 25%, 61% 100%, 0 93%);
  right: 0;
  /* top: 3rem; */
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.description {
  color: #e6e6e6;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.description span {
  font-weight: 900;
  color: var(--themeColor);
}

/* HERO FOOTER SECTION  */
.heroFooter {
  display: flex;
  align-items: center;
  padding: 1% 5%;
  gap: 2rem;
  position: absolute;
  bottom: 2rem;
}
.contactInfo p,
a {
  color: var(--text_Color);
  font-weight: 500px;
  text-decoration: none;
}

.Typewriter {
  font-size: 90px;
  color: #ffffff;
  line-height: 74px;
  font-weight: 500;
  text-wrap: nowrap;
}

.typeWriterPosition {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}

/* POINTER STYLING  */

.pointer {
  width: 35px;
  height: 35px;
  background-color: #4bffa5;
  position: absolute;
  border-radius: 50px;
}

/* RIGHT SIDE SOCIAL MEDEA BOX  */

.SocialMediaBox {
  display: flex;
  align-items: center;
  rotate: 90deg;
  position: absolute;
  bottom: 9rem;
  right: -150px;
  gap: 2rem;
  width: 30%;
  box-sizing: content-box;
  color: var(--text_Color);
}

.SocialMediaBox span {
  height: 2px;
  width: 4rem;
  background-color: var(--text_Color);
}

.SocialMediaBox .tawk-min-chat-icon {
  fill: #ffff;
  rotate: -90deg;
  /* border: 2px solid white; */
  padding: 1rem;
  border: none;
  box-sizing: content-box;
  border-radius: 50px;
  background-color: #03a84e;
  cursor: pointer;
}
a .socialIcons {
  width: 20px;
  fill: var(--text_Color);
  rotate: -90deg;
}

/* HOME COMPONENT STYLING HERE  */

.homeHeroPart {
  height: 100%;
  width: 100%;
}

.HomeFooter {
  width: 60%;
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
}

/* RESUME COMPONENT STYLING  */

.MiddleText {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30vh;
  /* transform: translate(-50% -50%); */
  font-size: 10rem;
  color: white;
  margin-bottom: 23rem;
}

.bottomNavigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 3.5rem;
}

.links {
  color: #858585;
  font-weight: 500;
  font-size: 1.1rem;
}
.downButton {
  font-size: 1.5rem;
  color: white;
  font-size: 900;
}
.UpdownButton {
  animation: upDown 2.5s infinite linear;
}
@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.ResumeWrapper {
  width: 60.7%;
  /* background-color: aqua  ; */
  margin: auto;
  margin-top: 5rem;
  transform: translateX(1%);
}
.resumeTop {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  background-color: #101010;
  border: 1px solid var(--border_color);
  z-index: 3;
  padding: 2rem;
}
.ResumeProfilePicture {
  grid-row: 1 / span 3;
  /* padding: 1rem; */
}
.resumeDescription {
  grid-column: 2 / span 4;
  padding: 0 2rem;
  line-height: 1.5rem;
  /* padding-right: 2rem; */
  color: var(--text_Color);
  font-weight: 500;
  /* font-size: 1.2rem; */
}

.ResumeProfilePicture {
  max-width: 200px;
}

.resumeDescBox {
  padding: 2rem;
  width: 50%;
  /* background-color: #e6e6e6; */
}
.resumeDescBox p {
  color: var(--text_Color);
  text-wrap: nowrap;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}
.resumeDescBox p span {
  color: #4bffa5;
}

.downloadCv {
  margin: auto;
  padding: 1rem 2rem;
  border: 2px solid var(--themeColor);
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 2rem;
  margin-left: 2rem;
}
.circle {
  height: 0;
  width: 0;
  position: absolute;
  background-color: var(--themeColor);
  z-index: -1;
  border-radius: 100%;
  transform: translateY(-50%) translateX(-50%); /* Adjust the transform to center the circle */
  transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}
.downloadCvInnerText {
  z-index: 10;
  color: var(--themeColor);
  font-size: 1.1rem;
  font-weight: 500;
}
.downloadCv:hover .circle {
  color: black;
  height: 300px;
  width: 300px;
}
.downloadCv:hover .downloadCvInnerText {
  color: black;
}

/* RESUME MAIN SECTION STARTS HERE  */
.resumePartHeadding {
  color: white;
  padding: 2rem;
  text-transform: capitalize;
}
.educationHeading {
  color: white;
  padding: 2rem;
  text-transform: capitalize;
}
.resumeEducationBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.resumeEducation {
  border: 1px solid var(--border_color);
  padding: 2rem;
  background-color: #101010;
}
.resumeEducation h3 {
  color: white;
  padding: 1rem 0;
}
.resumeEducation p {
  color: var(--text_Color);
  padding: 0.5rem 0;
}
#current {
  color: var(--themeColor);
}

/* TEFCH SKILL PROGRESS BAR STYLING STARTS HERE  */

.techStackHeadding {
  color: white;
  padding: 2rem;
  text-transform: capitalize;
}
.progressComp {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #101010;
  padding: 2rem;
  border: 1px solid var(--border_color);
}
.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbarBefore {
  color: var(--text_Color);
  font-weight: 700;
}
.progressItemName {
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

/* RESUME INTEREST  STYLING STARTS HERE  */

.intersets {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.interestItem {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem;
  background-color: #101010;
  border: 1px solid var(--border_color);
}
.interestItem i {
  color: var(--themeColor);
  font-size: 2rem;
}
.interestItem .content h3 {
  color: whitesmoke;
  padding: 1rem;
  font-weight: 500;
}
.interestItem .content p {
  color: var(--text_Color);
  font-weight: 500;
}

/* WORKS SECTION STYLING STARTS HERE  */

.workWrapper {
  width: 60.7%;
  /* background-color: aqua  ; */
  margin: auto;
  margin-top: 5rem;
  transform: translateX(1%);
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.workItem {
  padding: 2rem;
  border: 1px solid var(--border_color);
}
